body, html {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    background-color: red;
    width: 400px;
    height: 400px;

    transition: transform 0.3s ease; 
}



